// Primary
$green-dark: #027182;
$green-default: #00acc2;
$green-light: #caebf0;
$blue: #4285f4;
$red-dark: #db4437;
$red-default: #f46262;
$red-light: #ffd8d1;
$orange-dark: #b36013;
$orange-default: #ffae00;
$orange-light: #ffe4cc;

// Grayscale
$black: #131a21;
$darken: rgba(19, 26, 33, 0.7);
$white: #f5f5f5;
$pure-white: #fff;
$darkgray: #536173;
$gray: #8595a7;
$midgray: #c1c9d2;
$lightgray: #e4ebf5;
