@mixin flexbox($direction, $align: unset, $justify: unset, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin shadow($type) {
  @if $type == 'outer' {
    box-shadow: $shadow-outer;
  } @else if $type == 'inner' {
    box-shadow: $shadow-inner;
  } @else {
    @error 'Invalid shadow type';
  }
}

// Media Queries
@mixin huge-screen {
  @media (min-width: ($breakpoint-xlarge + 1)) {
    @content;
  }
}

@mixin xlarge-screen {
  @media (max-width: $breakpoint-xlarge) {
    @content;
  }
}

@mixin large-screen {
  @media (max-width: $breakpoint-large) {
    @content;
  }
}

@mixin medium-screen {
  @media (max-width: $breakpoint-medium) {
    @content;
  }
}

@mixin small-screen {
  @media (max-width: $breakpoint-small) {
    @content;
  }
}
